{{!-- {{outlet}} --}}
<div>
    <h1 style="text-align: center">My Favourite Movies</h1>
</div>
<div id="card-holder" class="layout-row layout-xs-column card-holder">

 {{#each model as |eachMovie|}}
        {{movie-card delete=(action "delete") isDeleteButtonVisible=checkCurrentRoute movie=eachMovie}}
 {{/each}}
 </div>
